<header class="pageHeader">
    <div class="container">
        <span>{{siteData.temp}} <span class="degree">C</span></span>
        <span>USD {{siteData.usd}}</span>
    </div>
    <div class="title">__SMART NEWS__</div>
    <div class="container datetime">
        <span>{{siteData.time}}</span>
        <span>{{siteData.date}}</span>
    </div>
</header>